@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

html {
  background-color: black;
}
#main {
  width: 50%;
  margin-left: 25%;
  margin-top: 10%;
  color: white;
  font-family: "Libre Baskerville", serif;
  text-align: center;
}
h1 {
  font-size: 3rem;
}
img {
  width: 100%;
  border: 5px solid white;
}
